<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
  <script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']]
  }
};
</script>

<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% if page.ap_widget %}
<link rel="stylesheet" href="{{ '/LLMheatmap/ap-heatmap.css' | relative_url }}">
<script src="{{ '/LLMheatmap/ap-heatmap.js' | relative_url }}"></script>
{% endif %}
</head>
<body>
  <main>
    {{ content }}
  </main>
</body>
</html>
